<h2>Everton Football Club 1878 - 2015 </h2>  
<div class="well">
<p> Welcome to the history of Everton Football Club. We have a glorious history founded on a rich tradition of innovation, bravery and determination to live up to the motto 'Nil Satis Nisi Optimum'. This interactive Timeline delivers our history via image galleries, articles, excerpts, video clips and social media links. Scroll using the tool above and utilise the zoom functionality to open up even more detail about the famous events in the history of a football club that has played more top flight games than any other.</p> 
  
  <h1>St Domingo's FC Formed</h1><br> 
  <p>Everton began their history as St Domingo's FC, playing their first match in the south-east corner of Stanley Park. St Domingo's Church had originally formed a cricket club and added football to their sports armoury.</p> 
  <h4><p>There is no place like Goodison Park when the place is full.</p></h4> 
  <p>The atmosphere is quite unique but when the current team enters the arena to the sound of Z-Cars and the deafening noise from over 40,000 spectators, it's difficult to imagine an Everton team trotting out onto a park pitch with no dressing rooms, carrying the goalposts!</p> 
  <p>But that's how it all began. </p> 
  <p>The predecessors of heroes such as Dean, Lawton, Hickson, Labone, Ball, Latchford, Sharp, Lineker and Ferguson, were as far removed from the 21st Century image of a football player as it's possible to be. </p> 
  <p>The St Domingo Methodist Church Sunday School was opened in May 1870 and eight years later the football team using the St Domingo name played its first match in the south-east corner of Stanley Park, with the players carrying the posts from the park lodge on Mill Lane before fixing them into the metal sockets at either end of the crudely marked pitch. </p> 
  <h4><p>St Domingo's FC quickly established a local reputation for themselves and players were recruited from outside of the parish, precipitating a change of name in November 1879 - to EVERTON. </p></h4> 
  <p>The first game as Everton Football Club took place on December 20th 1879 at Stanley Park against St Peter's. Wearing blue and white striped shirts, Everton won 6-0, although, sadly, there are no records of line-ups or goalscorers... </p>
