 
<div class="jumbotron center">
       <h2>Welcome To My Everton FC Pinterested App</h2> 

        
  
      <%= link_to "Login", new_user_session_path, class: 'btn btn-default' %> 
      <%= link_to "Join", new_user_registration_path, class: 'btn btn-primary' %>
        
  <br>
  <div class="responsive-video "><iframe src="//player.vimeo.com/video/48076577" width="200" height="200" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div> 
            <p>Learn Ruby On Rails - With Robeen Dey</p>
</div> 

